[submodule "rafff_backend"]
	path = rafff_backend
	url = https://github.com/RobertKoval/rafff_backend.git
[submodule "rafff_iOS"]
	path = rafff_iOS
	url = https://github.com/RobertKoval/rafff_iOS.git
